In [17]:
import pandas as pd
from sqlalchemy import create_engine

This requires an HTTP interface to crate running at [http://localhost:4200](http://localhost:4200)

In [18]:
engine = create_engine( 'crate://', connect_args={ 'servers': ["http://localhost:4200"], }, )

In [19]:
pd.read_sql_query("show tables", engine)

  table_name
0     tweets